/*
Colors used:
Primary Color (Navy): #305372;
Secondary Color (Sea): #B0DDE4;
Primary Highlight Color (Tomato): #DF4C73;
Secondary Highlight Color (Sky): #E2F0F9;
Tertiary Highlight Color (Deep Tomato): #8E3232;
*/
img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

body {
  background-color: #ffffff;
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}

header {
  background-color: #e2f0f9;
  padding: 10px 0 4px;
  box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.2);
  position: fixed;
  width: 100%;
  height: 70px;
}

.navbar {
  z-index: 2;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  font-weight: 300;
}

a {
  color: #305372;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #8e3232;
}

a:hover,
a:focus {
  color: #df4c73;
}

a:active {
  /* selected link */
  color: #0c94b3;
}

.button {
  display: inline-block;
  background-color: #305372;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #305372;
  border-radius: 24px;
  transition-duration: 0.2s;
  transition-property: opacity;
  font-size: 16px;
  line-height: normal;
}

.button:visited {
  background-color: transparent;
  color: #ffffff;
}

.button:hover {
  background-color: transparent;
  color: #305372;
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #df4c73;
  text-transform: uppercase;
  border: 2px solid #df4c73;
}

.button.contact:hover {
  background-color: #df4c73;
  color: #ffffff;
}

/* Layout Styling */
main {
  padding-top: 56px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work h1 {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #e2f0f9;
  margin: 0;
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero span {
  display: block;
}

#work h3 {
  text-align: left;
}

#about h2,
h3 {
  text-align: center;
}

#logo {
  height: auto;
  max-width: 210px;
  padding: 10px 0 10px;
}

#contact {
  text-align: center;
}

#contact .social-links {
  text-align: left;
}

/* Nav Bar Styling */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #305372;
}

nav>ul>li>a:visited {
  color: #8e3232;
}

nav>ul>li>a:hover {
  color: #df4c73;
}

nav>ul>li>a:active {
  color: #0c94b3;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 24px;
  padding-right: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#daisy {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 10px;
  padding: 60px;
}

.petal {
  fill: #f0524f;
}

.petal-alt {
  fill: #d93d82;
}

.center {
  fill: #ae76ff;
}

.petal {
  animation: 4s color-change-petal infinite alternate linear;
}

.petal-alt {
  animation: 4s color-change-alt infinite alternate linear;
}

.center {
  animation: 8s color-change-center infinite alternate linear;
}

@keyframes color-change-petal {
  0% {
    fill: #f0524f;
  }

  50% {
    fill: #d93d82;
  }

  100% {
    fill: #f845ee;
  }
}

@keyframes color-change-alt {
  0% {
    fill: #d93d82;
  }

  50% {
    fill: #f037e6;
  }

  100% {
    fill: #ba35e6;
  }
}

@keyframes color-change-center {
  0% {
    fill: #ae76ff;
  }

  50% {
    fill: #5f66e8;
  }

  100% {
    fill: #61b1ff;
  }
}

.flower {
  animation: 10s spin infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.col-sm-3 {
  width: 25%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-12 {
  width: 100%;
}

.profile-photo-wrapper {
  text-align: center;
}

.profile-photo-wrapper img {
  width: 200px;
  height: auto;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-overlay {
  position: relative;
  text-align: center;
  color: white;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    height: 105px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  nav>ul>li {
    display: inline-block;
  }

  main {
    padding-top: 99px;
  }

  #logo {
    max-width: 250px;
    padding: 15px 0 15px;
    margin-left: 10px;
  }

  #hero span {
    display: block;
  }

  body {
    font-size: 20px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*='col-'] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: '';
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
