/*
Colors used:
Primary Color (Navy): #305372;
Secondary Color (Sea): #B0DDE4;
Primary Highlight Color (Tomato): #DF4C73;
Secondary Highlight Color (Sky): #E2F0F9;
Tertiary Highlight Color (Deep Tomato): #8E3232;
*/

img {
  width: 100%;
  height: auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
}

header {
  background-color: #c2eef3;
  padding: 10px 0 4px;
  box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.2);
  position: fixed;
  width: 100%;
  height: 70px;
}

.navbar {
  z-index: 2;
}

.line-break {
  background: grey;
  height: 2px;
  width: 100%;
  padding: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

h6 {
  font-size: 0.75em;
  font-weight: 300;
}

p {
  font-size: 18px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #305372;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #0266a2;
}

a:visited {
  color: #8e3232;
}

a:hover,
a:focus {
  color: #c5234e;
}

a:active {
  color: #0c94b3;
}

nav > ul > li > a:visited {
  color: #8e3232;
}

nav > ul > li > a:hover {
  color: #c5234e;
}

nav > ul > li > a:active {
  color: #0c94b3;
}

.navigation {
  height: auto;
}

.navtoggle li .icon {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 24px;
  padding-right: 0;
  padding-left: 0;
}

.list li {
  padding-left: 5px;
  line-height: 1.5em;
}

.contact li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 15px;
  border-top: 1px solid rgba(12, 12, 12, 0.2);
}

.navtoggle.responsive li:not(:last-child) {
  margin-left: -1em;
  margin-right: -1em;
  background-color: #e2f0f9;
  box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.2);
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 0;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
  border-top: none;
}

.list ol {
  padding-left: 20px;
}

.list ul {
  padding-left: 20px;
  line-height: 1.5em;
}

.button {
  display: inline-block;
  background-color: #0266a2;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #0266a2;
  border-radius: 22px;
  transition-duration: 0.2s;
  transition-property: opacity;
  font-size: 16px;
  line-height: 1.5em;
}

.button:visited {
  background-color: transparent;
  color: #fff;
}

.button:hover {
  background-color: transparent;
  color: #305372;
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #8e3232;
  border: 1px solid #8e3232;
  margin-top: 6px;
}

.button.contact:hover {
  background-color: #8e3232;
  color: #fff;
}

/* Layout Styling */
main {
  padding-top: 58px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  margin: 1px 0 10px;
  vertical-align: middle;
}

#work .row {
  padding-bottom: 30px;
  padding-top: 15px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #e2f4a2;
  margin: 0;
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero span {
  display: block;
}

#logo {
  height: auto;
  max-width: 190px;
  padding: 12px 0 12px;
}

#lets-connect {
  text-align: center;
}

.responsive {
  float: left;
  width: 100%;
}

.myWrapper {
  max-width: 660px;
  margin: 0 auto;
}

#daisy {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 10px;
  padding: 20px;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
.img-column {
  flex: 50%;
  max-width: 50%;
}

.flower {
  position: relative;
  z-index: -2;
  animation: 10s spin infinite linear;
}

.petal {
  fill: #f0524f;
  animation: 4s color-change-petal infinite alternate linear;
}

.petal-alt {
  fill: #d93d82;
  animation: 4s color-change-alt infinite alternate linear;
}

.flower-center {
  fill: #ae76ff;
  animation: 8s color-change-center infinite alternate linear;
}

@keyframes color-change-petal {
  0% {
    fill: #f0524f;
  }

  50% {
    fill: #d93d82;
  }

  100% {
    fill: #f845ee;
  }
}

@keyframes color-change-alt {
  0% {
    fill: #d93d82;
  }

  50% {
    fill: #f037e6;
  }

  100% {
    fill: #ba35e6;
  }
}

@keyframes color-change-center {
  0% {
    fill: #ae76ff;
  }

  50% {
    fill: #5f66e8;
  }

  100% {
    fill: #61b1ff;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.col-sm-3 {
  width: 25%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-12 {
  width: 100%;
}

[class*='col-'] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.hero-photo-wrapper {
  text-align: center;
}

.hero-photo-wrapper img {
  width: 400px;
  height: auto;
}

.profile-photo-wrapper {
  text-align: center;
}

.profile-photo-wrapper img {
  width: 200px;
  height: auto;
  margin-top: 52px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.text-overlay {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
  font-size: 1em;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  .container {
    max-width: 1023px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    height: 105px;
  }

  .responsive {
    width: 100%;
  }

  /* Create four equal columns that sits next to each other */
  .img-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .text-overlay {
    font-size: 1.5em;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  nav > ul > li {
    display: inline-block;
  }

  main {
    padding-top: 99px;
  }

  #logo {
    max-width: 250px;
    padding: 15px 0 15px;
    margin-left: 10px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .hero-photo-wrapper img {
    width: 75%;
    height: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-overlay {
    font-size: 1.75em;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
